nav {
  ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid black;

    li {
      padding: 8px;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}
