nav {
  height: 100vh;
  background-color: rgb(28,29,34);

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    li {
      padding: 8px;
      font-size: 1.1rem;
      cursor: pointer;

      .projectNav {
        display: flex;
        align-items: center;

        mat-icon {
          min-width: 30px;
        }

        span {
          padding-left: 8px;
        }
      }
    }
  }
}
