nav {
  height: 100vh;
  background-color: rgb(28,29,34);

  ul {
    display: flex;
    justify-content: center;
    gap: 20px;

    li {
      padding: 8px;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}
