<div class="container">
  <div class="column">
    <h2>To do</h2>
    <div *ngFor="let functionality of todoFunctionalities" class="functionality">
      <h1>{{ functionality.name }}</h1>
      <p>{{functionality.description}}</p>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="functionality manage options" class="menuBtn">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToCreateTask(functionality.id)">
          <mat-icon>add_task</mat-icon>
          <span>Create task</span>
        </button>
        <button mat-menu-item (click)="navigateToFunctionalityDetails(functionality.id)">
          <mat-icon>info</mat-icon>
          <span>Show details</span>
        </button>
        <button mat-menu-item (click)="navigateToEditFunctionality(functionality.id)">
          <mat-icon>mode_edit</mat-icon>
          <span>Edit functionality</span>
        </button>
        <button mat-menu-item (click)="deleteFunctionality(functionality.id)"><mat-icon>delete</mat-icon><span>Delete
            functionality</span>
        </button>
      </mat-menu>
      <div class="navBtns">
        <button (click)="onStatusChange(functionality, Status.TODO)" mat-fab
          disabled><mat-icon>arrow_back</mat-icon></button>
        <button (click)="onStatusChange(functionality, Status.DOING)"
          mat-fab><mat-icon>arrow_forward</mat-icon></button>
      </div>
    </div>
  </div>

  <div class="column">
    <h2>Doing</h2>
    <div *ngFor="let functionality of doingFunctionalities" class="functionality">
      <h1>{{ functionality.name }}</h1>
      <p>{{functionality.description}}</p>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="functionality manage options" class="menuBtn">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToCreateTask(functionality.id)">
          <mat-icon>add_task</mat-icon>
          <span>Create task</span>
        </button>
        <button mat-menu-item (click)="navigateToFunctionalityDetails(functionality.id)">
          <mat-icon>info</mat-icon>
          <span>Show details</span>
        </button>
        <button mat-menu-item (click)="navigateToEditFunctionality(functionality.id)">
          <mat-icon>mode_edit</mat-icon>
          <span>Edit functionality</span>
        </button>
        <button mat-menu-item (click)="deleteFunctionality(functionality.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete functionality</span>
        </button>
      </mat-menu>
      <div class="navBtns">
        <button (click)="onStatusChange(functionality, Status.TODO)" mat-fab><mat-icon>arrow_back</mat-icon></button>
        <button (click)="onStatusChange(functionality, Status.DONE)" mat-fab><mat-icon>arrow_forward</mat-icon></button>
      </div>
    </div>
  </div>

  <div class="column">
    <h2>Done</h2>
    <div *ngFor="let functionality of doneFunctionalities" class="functionality">
      <h1>{{ functionality.name }}</h1>
      <p>{{functionality.description}}</p>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="functionality manage options" class="menuBtn">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToCreateTask(functionality.id)">
          <mat-icon>add_task</mat-icon>
          <span>Create task</span>
        </button>
        <button mat-menu-item (click)="navigateToFunctionalityDetails(functionality.id)">
          <mat-icon>info</mat-icon>
          <span>Show details</span>
        </button>
        <button mat-menu-item (click)="navigateToEditFunctionality(functionality.id)">
          <mat-icon>mode_edit</mat-icon>
          <span>Edit functionality</span>
        </button>
        <button mat-menu-item (click)="deleteFunctionality(functionality.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete functionality</span>
        </button>
      </mat-menu>
      <div class="navBtns">
        <button (click)="onStatusChange(functionality, Status.DOING)" mat-fab><mat-icon>arrow_back</mat-icon></button>
        <button (click)="onStatusChange(functionality, Status.DONE)" mat-fab
          disabled><mat-icon>arrow_forward</mat-icon></button>
      </div>
    </div>
  </div>
</div>
