.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

  h1 {
    margin: 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #222329;
    border-radius: 12px;
    padding: 20px 0;

    h2 {
      font-size: 1.6rem;
    }

    .task {
      display: grid;
      gap: 5px;
      background-color: #292b31;
      padding: 10px 20px;
      border-radius: 8px;
      width: 90%;
      position: relative;

      h1 {
        font-size: 1.3rem;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
        color: #6a6d73;
      }

      .navBtns {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-top: 10px;
      }

      .menuBtn {
        border: 1px solid rgb(60, 60, 60);
        position: absolute;
        right: 3px;
        top: 3px;
      }
    }
  }
}
