.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 10px;
  padding: 20px;

  .project {
    border-radius: 15px;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(182, 182, 182);
    max-width: 500px;
  }
}
