<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput id="name" type="text" formControlName="name" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <input matInput id="description" type="text" formControlName="description" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Duration</mat-label>
    <input matInput id="duration" type="number" formControlName="duration" required min="1">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Expected Duration</mat-label>
    <input matInput id="expectedDuration" type="number" formControlName="expectedDuration" required min="1">
  </mat-form-field>

  <div *ngIf="projectForm.errors?.['durationError']" class="text-danger">
    Expected Duration must be higher than duration.
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">Create this project</button>
</form>