<div class="container">
  <p>Project nr {{project.id}}</p>
  <h2>{{project.name}}</h2>
  <p>{{project.description}}</p>
  <p>Project start date: {{project.startDate | date:'dd/MM/yyyy'}}</p>
  <p>Project duration: {{project.duration}}h (wyliczyć z zadań?)</p>
  <p>Expected duration of the project: {{project.expectedDuration}}h (wyliczyć z funkcjonalnosci?)</p>
  <p>Number of hours worked: {{project.hoursWorked}}h (wyliczyć z zadań)</p>
  <p>Users: {{project.involvedUsers}}</p>
  <button mat-fab color="primary" (click)="navigateToProjectEdit(project.id)"><mat-icon>mode_edit</mat-icon></button>
  <button mat-mini-fab color="warn" (click)="deleteProject(project.id)"><mat-icon>delete</mat-icon></button>
  <button mat-raised-button color="primary" (click)="navigateToFunctionalityCreate(project.id)">Create
    functionality</button>
  <router-outlet></router-outlet>
</div>
