<div class="container">
  <div class="details">
    <p>Project nr {{project.id}}</p>
    <h2>{{project.name}}</h2>
    <p>{{project.description}}</p>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="projects manage options" class="menuBtn">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateToProjectDetails(project.id)">
      <mat-icon>info</mat-icon>
      <span>Show details</span>
    </button>
    <button mat-menu-item (click)="navigateToProjectEdit(project.id)">
      <mat-icon>mode_edit</mat-icon>
      <span>Edit project</span>
    </button>
    <button mat-menu-item (click)="deleteProject(project.id)"><mat-icon>delete</mat-icon><span>Delete project</span>
    </button>
  </mat-menu>
</div>
<router-outlet></router-outlet>
